TYPO3_CONF_VARS__EXTENSIONS__xima_twitter_client__access_key=''
TYPO3_CONF_VARS__EXTENSIONS__xima_twitter_client__access_secret=''
TYPO3_CONF_VARS__EXTENSIONS__xima_twitter_client__api_key=''
TYPO3_CONF_VARS__EXTENSIONS__xima_twitter_client__api_secret=''
TYPO3_CONF_VARS__EXTENSIONS__xima_twitter_client__image_storage='1:Twitter'
